In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('fattry.csv')
df.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Undernourished,Recovery_rate_percentage,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,Afghanistan,0.0,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,28.3684,17.0831,0.3593,4.5,29.8,86.801012,NaN,NaN,NaN,NaN
1,Albania,0.0,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,17.9998,9.2443,0.6503,22.3,6.2,60.413005,NaN,NaN,NaN,NaN
2,Algeria,0.0,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,35.5857,27.3606,0.5145,26.6,3.9,68.425558,NaN,NaN,NaN,NaN
3,Angola,0.0,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,34.7010,22.4638,0.1231,6.8,25.0,92.089522,NaN,NaN,NaN,NaN
4,Antigua and Barbuda,0.0,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,22.2995,14.4436,0.2469,19.1,NaN,64.930556,NaN,NaN,NaN,NaN

In [3]:
df=df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [4]:
df.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Stimulants,Sugar Crops,Sugar & Sweeteners,Treenuts,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Undernourished,Recovery_rate_percentage
0,Afghanistan,0.0,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,0.0980,0.0,0.0,0.7513,28.3684,17.0831,0.3593,4.5,29.8,86.801012
1,Albania,0.0,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,0.5270,0.0,0.0,0.9181,17.9998,9.2443,0.6503,22.3,6.2,60.413005
2,Algeria,0.0,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,0.2886,0.0,0.0,0.8595,35.5857,27.3606,0.5145,26.6,3.9,68.425558
3,Angola,0.0,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,0.1128,0.0,0.0,0.0308,34.7010,22.4638,0.1231,6.8,25.0,92.089522
4,Antigua and Barbuda,0.0,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,1.0549,0.0,0.0,0.2020,22.2995,14.4436,0.2469,19.1,NaN,64.930556

In [5]:
df1=df.dropna()

In [6]:
df1.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Stimulants,Sugar Crops,Sugar & Sweeteners,Treenuts,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Undernourished,Recovery_rate_percentage
0,Afghanistan,0.0,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,0.0980,0.0,0.0,0.7513,28.3684,17.0831,0.3593,4.5,29.8,86.801012
1,Albania,0.0,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,0.5270,0.0,0.0,0.9181,17.9998,9.2443,0.6503,22.3,6.2,60.413005
2,Algeria,0.0,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,0.2886,0.0,0.0,0.8595,35.5857,27.3606,0.5145,26.6,3.9,68.425558
3,Angola,0.0,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,0.1128,0.0,0.0,0.0308,34.7010,22.4638,0.1231,6.8,25.0,92.089522
5,Argentina,0.0,30.3572,3.3076,0.0,1.3316,1.5706,0.1664,0.2091,19.2693,...,0.2475,0.0,0.0,0.1366,19.6449,17.3147,0.1878,28.5,4.6,89.647840

In [7]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [8]:
label_encoder=preprocessing.LabelEncoder()
df1['Country']=label_encoder.fit_transform(df1['Country'])

<ipython-input-8-51c39540de4e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Country']=label_encoder.fit_transform(df1['Country'])

In [9]:
y=df1.Recovery_rate_percentage
x=df1.drop('Recovery_rate_percentage',axis=1)
np.random.seed(42)
x_shadow=x.apply(np.random.permutation)
x_shadow.columns={'shadow_'+ feat for feat in x.columns}
x_boruta=pd.concat([x,x_shadow],axis=1)

In [10]:
from sklearn.ensemble import RandomForestRegressor
forest=RandomForestRegressor(max_depth=5,random_state=42)
forest.fit(x_boruta,y)
feat_imp_x=forest.feature_importances_[:len(x.columns)]
feat_imp_shadow=forest.feature_importances_[len(x.columns):]
hits=feat_imp_x>feat_imp_shadow.max()

In [11]:
hits = np.zeros((len(x.columns)))
### repeat 20 times
for iter_ in range(70):
   ### make X_shadow by randomly permuting each column of X
   np.random.seed(iter_)
   x_shadow = x.apply(np.random.permutation)
   x_boruta = pd.concat([x, x_shadow], axis = 1)
   ### fit a random forest (suggested max_depth between 3 and 7)
   forest = RandomForestRegressor(max_depth = 5, random_state = 42)
   forest.fit(x_boruta, y)
   ### store feature importance
   feat_imp_x = forest.feature_importances_[:len(x.columns)]
   feat_imp_shadow = forest.feature_importances_[len(x.columns):]
   ### compute hits for this trial and add to counter
   hits += (feat_imp_x > feat_imp_shadow.max())

In [12]:
print(hits)

[ 0.  0.  0.  0.  0. 39.  0.  0.  0.  0.  0.  1.  6.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.]