In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df1=pd.read_csv("fattry.csv")

df1.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Stimulants,Sugar Crops,Sugar & Sweeteners,Treenuts,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Undernourished,Recovery_rate_percentage
0,Afghanistan,0.0,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,0.0980,0.0,0.0,0.7513,28.3684,17.0831,0.3593,4.5,29.8,86.801012
1,Albania,0.0,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,0.5270,0.0,0.0,0.9181,17.9998,9.2443,0.6503,22.3,6.2,60.413005
2,Algeria,0.0,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,0.2886,0.0,0.0,0.8595,35.5857,27.3606,0.5145,26.6,3.9,68.425558
3,Angola,0.0,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,0.1128,0.0,0.0,0.0308,34.7010,22.4638,0.1231,6.8,25.0,92.089522
4,Antigua and Barbuda,0.0,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,1.0549,0.0,0.0,0.2020,22.2995,14.4436,0.2469,19.1,NaN,64.930556

In [3]:
df = df1.dropna()

In [4]:
category=[]
cat=''
for rrp in df['Recovery_rate_percentage']:
    if (rrp >=95):
        cat=0
        category.append(cat)
    elif (rrp >=90) & (rrp<95):
        cat=1
        category.append(cat)
    elif (rrp>=85) & (rrp<90):
        cat=2
        category.append(cat)
    elif (rrp>=80) & (rrp<85):
        cat=3
        category.append(cat)
    elif (rrp>=75) & (rrp<80):
        cat=4
        category.append(cat)
    else:
        cat=5
        category.append(cat)
print(category)

[2, 5, 5, 1, 2, 0, 1, 1, 0, 2, 3, 0, 5, 0, 3, 5, 4, 3, 2, 2, 2, 0, 0, 1, 1, 0, 3, 1, 1, 1, 5, 4, 1, 0, 3, 5, 2, 0, 0, 1, 5, 3, 4, 2, 4, 5, 2, 1, 5, 5, 1, 1, 0, 2, 1, 5, 1, 0, 2, 2, 4, 5, 5, 0, 0, 3, 2, 0, 5, 2, 3, 5, 2, 0, 2, 3, 2, 1, 0, 1, 3, 5, 5, 1, 5, 1, 0, 5, 4, 2, 5, 2, 0, 1, 4, 5, 2, 0, 5, 0, 0, 5, 0, 5, 2, 3, 2, 5, 1, 1, 2, 3, 1, 1, 3, 4, 1, 2, 5, 5, 0, 4, 0, 3, 5, 5, 1, 2, 5, 1, 5, 1, 5, 1, 5, 5, 1, 5, 4, 3, 0, 4, 0, 5, 2, 1, 5, 5, 5, 2, 0, 0, 1, 5, 5, 2, 3]

In [5]:
df.insert(27,'Category',category)

In [6]:
df.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Sugar Crops,Sugar & Sweeteners,Treenuts,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Undernourished,Recovery_rate_percentage,Category
0,Afghanistan,0.0,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,0.0,0.0,0.7513,28.3684,17.0831,0.3593,4.5,29.8,86.801012,2
1,Albania,0.0,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,0.0,0.0,0.9181,17.9998,9.2443,0.6503,22.3,6.2,60.413005,5
2,Algeria,0.0,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,0.0,0.0,0.8595,35.5857,27.3606,0.5145,26.6,3.9,68.425558,5
3,Angola,0.0,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,0.0,0.0,0.0308,34.7010,22.4638,0.1231,6.8,25.0,92.089522,1
5,Argentina,0.0,30.3572,3.3076,0.0,1.3316,1.5706,0.1664,0.2091,19.2693,...,0.0,0.0,0.1366,19.6449,17.3147,0.1878,28.5,4.6,89.647840,2

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
label_encoder=preprocessing.LabelEncoder()
df['Country']=label_encoder.fit_transform(df['Country'])

<ipython-input-8-a9035670ea0f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Country']=label_encoder.fit_transform(df['Country'])

In [9]:
y=df.Category
x=df.drop('Category',axis=1)

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc=StandardScaler()

In [13]:
df['Country'].dtypes

dtype('int64')

In [14]:
df.loc[df['Country']=='Czechia']

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [Country, Alcoholic Beverages, Animal Products, Animal fats, Aquatic Products, Other, Cereals - Excluding Beer, Eggs, Fish, Seafood, Fruits - Excluding Wine, Meat, Miscellaneous, Milk - Excluding Butter, Offals, Oilcrops, Pulses, Spices, Starchy Roots, Stimulants, Sugar Crops, Sugar & Sweeteners, Treenuts, Vegetal Products, Vegetable Oils, Vegetables, Obesity, Undernourished, Recovery_rate_percentage, Category]
Index: []

[0 rows x 28 columns]

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
df.isnull().sum()

Country                     0
Alcoholic Beverages         0
Animal Products             0
Animal fats                 0
Aquatic Products, Other     0
Cereals - Excluding Beer    0
Eggs                        0
Fish, Seafood               0
Fruits - Excluding Wine     0
Meat                        0
Miscellaneous               0
Milk - Excluding Butter     0
Offals                      0
Oilcrops                    0
Pulses                      0
Spices                      0
Starchy Roots               0
Stimulants                  0
Sugar Crops                 0
Sugar & Sweeteners          0
Treenuts                    0
Vegetal Products            0
Vegetable Oils              0
Vegetables                  0
Obesity                     0
Undernourished              0
Recovery_rate_percentage    0
Category                    0
dtype: int64

In [17]:
classifier = RandomForestClassifier(n_estimators=400,random_state=0)
classifier.fit(x_train,y_train)

RandomForestClassifier(n_estimators=400, random_state=0)

In [18]:
y_pred = classifier.predict(x_test)

In [19]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.375
Mean Squared Error: 0.5625
Root Mean Squared Error: 0.75

In [20]:
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.71875